
#hplogo, #hplogo_main,
#hplogo_cnt, #hplogo_spc {
    display: inline-block;
    outline: none;
    position: relative;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -webkit-user-select: none
}
#hplogo, #hplogo_main {
    overflow: hidden;
    text-align: left;
    text-decoration: none;
}
#hplogo_cnt, #hplogo_spc {
    background: transparent;
    height: 20px;
    padding-left: 2px;
    width: 20px
}
#hplogo, #hplogo_sc, #hplogo_pc {
    height: 220px;
    width: 430px
}
#hplogo_main {
    background: url(startrek/startrek12-hp.jpg) no-repeat;
    height: 220px;
    width: 375px
}
