@import url(goog.css);

#hplogo {
    background: none;
    background-color: white;
    border-radius: 3em;
    padding: 2em 1em 0em 1em;
}
#fore {
    display: inline;
    background-color: white;
    padding: 2em;
    border-radius: 3em;
    box-shadow: .5em 1.25em .25em #555;
    min-width: 600px;
    max-width: 900px;
}
body {
    border-radius: 3em;
    text-align: center;
}
html {
    background-color: gray;
}
.fred, .fred * {
    color: white;
    font: 28px 'Webfont.1', arial, sans;
    list-style: none;
    text-decoration: none;
    text-shadow: gray 0px 1px 7px;
}
.fred a:hover, span.fred {
    color: red;
    text-shadow: gray 0px 1px 7px , black 0px -1px 0px;
}
span.fred {
    color: gray;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
