@import url(goog.css);

html {
    background-color: #999;
    border: 3em solid #8f8f8f;
    box-sizing: border-box;
    height: 100%;
    position: absolute;
    width: 100%;
}
body {
    background-color: #888;
    border: 1em solid #8f8f8f;
    border-radius: 33em;
    bottom: 0;
    height: 400px;
    left: 0;
    margin: auto;
    padding: 3em;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 700px;
}
ul {
    margin: 0.7em 0 2em 0;
    padding: 0;
}
.bubs, .fore, .cush {
    background-color: white;
    border-radius: 3em;
}
.fore {
    display: inline;
    padding: 2em;
    box-shadow: .5em 1.25em .25em #555;
    min-width: 600px;
    max-width: 900px;
}
.cush {
    display: inline-block;
    padding: 1em 1em 0em 1em;
    outline: none;
}
.fanc, .fanc * {
    color: white;
    font: 28px 'Webfont.1', arial, sans;
    list-style: none;
    text-decoration: none;
    text-shadow: gray 0px 1px 7px;
    -webkit-transition: color 1s ease-out 0.5s;
}
.fanc a:hover, span.fanc {
    color: red;
    text-shadow: gray 0px 1px 7px , black 0px -1px 0px;
}
span.fanc {
    color: gray;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
